@import '../../styles/variables';
@import '../../styles/mixin';

.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 100vh;
  width: 100%;
  color: $dark;

  .welcome-logo {
    height: 96px;
    width: 96px;
    pointer-events: none;

    @media (prefers-reduced-motion: no-preference) {
      animation: welcome-logo-spin infinite 5s linear;
    }
  }

  .welcome-text {
    margin-top: $spacing-040;
    margin-bottom: $spacing-016;

    code {
      display: inline-block;
      max-width: 100%;
      white-space: normal;
      word-break: break-all;
      word-wrap: break-word;
    }
  }

  .welcome-link {
    color: $dark-gray;
    transition: $transition;

    &:hover {
      color: $black;
    }

    .welcome-link-icon {
      font-size: $fs-p;
    }
  }
}

@keyframes welcome-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
