name: Prettier

on:
  push:

jobs:
  prettier:
    name: Run Prettier
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Run Prettier
        uses: creyD/prettier_action@v4.2
        with:
          prettier_options: --check .
